.App {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.editor {
    min-height: 60vh;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12pt;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.editor .ColRow {
    text-align: right;
    font-size: 10pt;
    background-color: #263238;
    color: #EEFFFF;
    padding: 5px 10px;
}

.editor .CodeMirror {
    min-height: 57vh;
}

.consola {
    max-height: 32vh;
    font-size: 16pt;
}

.consola .CodeMirror {
    max-height: 32vh;
}

.reportes {
    max-height: 53vh;
    overflow: auto;
    padding: 10px 0;
}